.card-wrapper {
  background-color: rgb(176 213 239 / 9%);
  border-radius: 0.5rem;
  display: flex;
  padding: 1.25rem;
}

.episode-number {
  background-color: #FFFFFF;
  border: 4px solid #AAD2ED;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  height: 50px;
  margin-right: 1rem;
  padding: 0.5rem;
  text-align: center;
  width: 110px;
}

.episode-name {
  color: #FFFFFF;
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.episode-air-date-label {
  font-size: 0.85rem;
  font-weight: 500;
}

.episode-air-date {
  color: #FFFFFF;
}

